@*
    Home Page
    This program is for Joel Hilton and his many interests.
    Through the navigation, you will be able to add movies to a list and see which ones you have added.
*@


@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <br />
    <br />
    <img src="~/JoelHilton.jpg" />
</div>
