@*
    Page for the Form to enter and store each movie entry
*@
@{
    ViewBag.Title = "Enter Movies Here";
}

@model Assignment3.Models.MovieModel

<div class="text-center">
    <h1>@ViewBag.Title</h1>

    <br />
    <br />

    <form asp-action="MovieInput" method="post" class="form-style">
        <label asp-for="Category">Category:</label>
        <select asp-for="Category" class="select-field" >
            <option>Select One:</option>
            <option>Action/Adventure</option>
            <option>Comedy</option>
            <option>Drama</option>
            <option>Family</option>
            <option>Horror/Suspense</option>
            <option>Miscellaneous</option>
            <option>Television</option>
            <option>VHS</option>
        </select>
        <br />
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="input-field"/>
        <br />
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" class="input-field"/>
        <br />
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" class="input-field"/>
        <br />
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" class="select-field">
            <option>Select One:</option>
            <option>G</option>
            <option>PG</option>
            <option>PG-13</option>
            <option>R</option>
            <option>TV-Y7</option>
            <option>TV-PG</option>
            <option>TV-14</option>
            <option>TV-MA</option>
        </select>
        <br />
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited" class="select-field">
            <option>Select One:</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" class="input-field" />
        <br />
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" maxlength="25" class="input-field"/>
        <br />
        <br />
        <input type="submit" value="Submit Movie" id="submitButton" style="height:100px; width:150px" />
    </form>
</div>