@{
    ViewBag.Title = "My Podcasts";
}

<div class="text-center">
    <h1>@ViewBag.Title</h1>
    
    <br />
    <br />

    <a href="https://baconsale.com">Click here to see my podcasts!</a>
</div>